// Color Variables

$color-red			: #E63946;
$color-white		: #F1FAEE;
$color-blue		: #457B9D;
$color-blue-dark	: #1D3557;
$color-blue-light	: #A8DADC;

// Color Map
$colors: (
	'red'			: $color-red,
	'white'			: $color-white,
	'blue'			: $color-blue,
	'blue-dark'		: $color-blue-dark,
	'blue-light'	: $color-blue-light
);
