@import '~iotacss/tools/ms';

$base-font-size   : 20px;
$base-font-ratio  : 1.25;
$base-font-scale  : 3;

$type-xxlg: (
	null: ( iota-ms(4, $base-font-size, $base-font-ratio, $base-font-scale), $baseline ),
	sm: ( iota-ms(3, $base-font-size, $base-font-ratio, $base-font-scale), $baseline )
);

$type-xlg: (
	null: ( iota-ms(3, $base-font-size, $base-font-ratio, $base-font-scale), $baseline ),
	sm: ( iota-ms(2, $base-font-size, $base-font-ratio, $base-font-scale), $baseline )
);

$type-lg: (
	null: ( iota-ms(1, $base-font-size, $base-font-ratio, $base-font-scale), $baseline ),
	sm: ( iota-ms(2, $base-font-size, $base-font-ratio, $base-font-scale), $baseline )
);

$type-md: (
	null: ( iota-ms(0, $base-font-size, $base-font-ratio, $base-font-scale), $baseline ),
	sm: ( iota-ms(1, $base-font-size, $base-font-ratio, $base-font-scale), $baseline )
);

$type-sm: (
	null: ( iota-ms(-1, $base-font-size, $base-font-ratio, $base-font-scale), $baseline ),
	sm: ( iota-ms(0, $base-font-size, $base-font-ratio, $base-font-scale), $baseline )
);

$type-xsm: (
	null: ( iota-ms(-2, $base-font-size, $base-font-ratio, $base-font-scale), $baseline ),
	sm: ( iota-ms(-1, $base-font-size, $base-font-ratio, $base-font-scale), $baseline )
);
