// https://www.iotacss.com/docs/components/button/

$iota-components-button-namespace:	button;
$iota-components-button-color:		rgb(255, 255, 255);
$iota-components-button-margin:	 	0;
$iota-components-button-padding:	$iota-global-gutter-default;
$iota-components-button-border:		none;
$iota-components-button-background:	rgb(57, 178, 255);

.c-button--primary    { background-color: red; }
.c-button--secondary  { background-color: grey; }

@import '~iotacss-components-button';
