@import '../config/type';
@import '../config/colors';
@import '../config/sizes';

.console {
	padding: $size-medium;
	font-size: $size-medium;
	background-color: $primary;
	font-family: $family-code;

	.console__prompt {
		color: $secondary;
	}
	.console__input {
		color: $primary-invert;
	}

	@include touch {
		padding: $size-normal;
		font-size: $size-normal;
	}
}
