#menu {
	position: fixed;
	// width: 25vw;
	width: 50%;
	right: 0;
	top: 0;
	height: 100vh;

	padding: $size-normal ($size-normal * 4) ($size-normal * 2);
	border-left: ($size-micro / 2) solid $primary;

	@include mobile() {
		width: 80%;
	}

	@include tablet() {
		width: 35%;
	}

	@include widescreen() {
		width: 25%;
	}
}

.menu {

}

.menu__toggle {
	position: relative;
	z-index: 999;
}

.menu__content {
	z-index: 998;
	background: $white;
	// @extend .animated;
	
}

.menu__item {

}

.menu__item--active {
	a::before {
		content: "";
		position: absolute;
		display: block;
		background: #1D3557;
		border-radius: 100%;
		// content: '●';
		// position: absolute;
		// left: 0;
		// text-align: center;
		// width: ($size-normal * 4);
		// display: block;
		// margin-top: -1px;
	}
}

.menu__content__primary .menu__item--active a::before {
	height: ($size-large / 2);
	width: ($size-large / 2);
	left: ($size-large * 1.25);
	margin-top: ($size-large / 2);
}

.menu__content__primary, .menu__content__secondary, .menu__content__social {
	font-family: $family-display;
	li {
		margin: ($size-large / 2) 0;
	}
}

// .menu__content__primary, .menu__content__secondary {
	
// }

.menu__content__primary {
	font-size: $size-large;
	font-weight: $weight-bold;
}

.menu__content__secondary {
	font-size: $size-small;
}

.menu__content__social {
	.menu__item {
		float: left;
		font-size: $size-3;
		margin: 0 $size-normal 0 0;
	}
}

.menu--open {
	
}

.menu--closed {
	.menu__content {
		display: none;
	}
}
