<html>
<body>
	<div style="width: 100%; height: 50%">
		<div class="o-type-lg u-text-center">Hello world!</div>
	</div>
	<button class="c-button c-button--primary">I am a primary button</button>
	<button class="c-button c-button--secondary">I am a secondary button</button>
	<%- js('scripts/index') %>
	<%- css('styles/index') %>
</body>
</html>
