<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
      <h1>Lorem ipsum Ea ex dolor sint laborum aliqua.</h1>
      <h2>Lorem ipsum Ea ex dolor sint laborum aliqua.</h2>
      <h3>Lorem ipsum Ea ex dolor sint laborum aliqua.</h3>
      <h4>Lorem ipsum Ea ex dolor sint laborum aliqua.</h4>
      <h5>Lorem ipsum Ea ex dolor sint laborum aliqua.</h5>
      <h6>Lorem ipsum Ea ex dolor sint laborum aliqua.</h6>
      <p>Lorem ipsum Non elit exercitation sed nisi anim mollit aliquip consequat exercitation enim ullamco officia pariatur sunt culpa Ut eiusmod incididunt irure ad reprehenderit voluptate commodo officia non tempor in ut esse.</p>

    </div>
  </section>
  </body>
</html>
