// Custom colors
$color-red: #E63946;
$color-white: #F1FAEE;
$color-blue-dark: #1D3557;
$color-blue: #457B9D;
$color-blue-light: #A8DADC;

// Color overrides
// Bulma colors
$blue: $color-blue;
$red: $color-red;
$blue-invert: findColorInvert($blue);
$red-invert: findColorInvert($red);
$primary: $color-blue-dark;
$primary-invert: findColorInvert($primary);
$link: $color-blue-dark;
// non-Bulma colors
$secondary: $red;
$primary-light: $blue;
$primary-extra-light: $color-blue-light;


// // Update blue
// $blue: #72d0eb;
// // Add pink and its invert
// $pink: #ffb3b3;
// $pink-invert: #fff;

// // Use the new pink as the primary color
// $primary: $pink;
// $primary-invert: $pink-invert;
// // Use the existing orange as the danger color
// $danger: $orange;


// // 4. Setup your Custom Colors
// $linkedin: #0077b5;
// $linkedin-invert: findColorInvert($linkedin);
// $twitter: #55acee;
// $twitter-invert: findColorInvert($twitter);
// $github: #333;
// $github-invert: findColorInvert($github);
