@import 'sizes';

// Typeface imports
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Oxygen+Mono|Oxygen:400,700);

// Fallback font families
$default-family-sans: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !default;
$default-family-mono: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', monospace !default;

// Font families
$family-body: 'Oxygen', $default-family-sans;
$family-display: 'Montserrat', $default-family-sans;
$family-monospace: 'Oxygen Mono', $default-family-mono;

// Sizing
$body-size: $size-normal;
$code-size: $size-small;
// $code-size: 0.875em;
// $line-height: 

// Weights
$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
// bonus non-Bulma weights
$weight-thin: 100;
$weight-extra-light: 200;
$weight-extra-bold: 800;
$weight-black: 900;
