<nav class="menu menu--closed">
	<button class="hamburger hamburger--squeeze menu__toggle" type="button">
		<span class="hamburger-box">
			<span class="hamburger-inner"></span>
		</span>
	</button>
	<section id="menu" class="menu__content">
		<ul class="menu__content__primary">
			<li class="menu__item menu__item--active"><a href="">Home</a></li>
			<li class="menu__item"><a href="">Work</a></li>
			<li class="menu__item"><a href="">Blog</a></li>
			<li class="menu__item"><a href="">Contact</a></li>
		</ul>
		<ul class="menu__content__secondary">
			<li class="menu__item"><a href="">About</a></li>
			<li class="menu__item"><a href="">Colonograph</a></li>
		</ul>
		<ul class="menu__content__social">
			<li class="menu__item"><a href="" class="icon"><i class="fab fa-github"></i></a></li>
			<li class="menu__item"><a href="" class="icon"><i class="fab fa-linkedin"></i></a></li>
		</ul>
	</section>
</nav>
